<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TibiaMarketRush.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TibiaMarketRush.Properties.Settings>
            <setting name="SearchTextPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FirstItemPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FirstValuePositionTop" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FirstValuePositionBottom" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AcceptButtonPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IsSearchTextPositionConfigured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFirstItemPositionConfigured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFirstValuePositionConfigured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAcceptButtonPositionConfigured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumericUpDownMaxSpent_Value" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="NumericUpDownProfitByValue_Value" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="NumericUpDownProfitByPercentage_Value" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="RadioButtonProfitByValue_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RadioButtonProfitByPercentage_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstCountPositionTop" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FirstCountPositionBottom" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IsFirstCountPositionConfigured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeCountPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IsChangeCountPositionConfigured" serializeAs="String">
                <value>False</value>
            </setting>
        </TibiaMarketRush.Properties.Settings>
    </userSettings>
</configuration>